.storytext {font-family: "Times New Roman"; font-size: 30px; color: #FFF; display: inline-block;}
.clicks {width: 1050px; height: 50px; background-color: #FFF; display: block; margin-top: 50px; margin-bottom: 50px; display: inline-block;}
.clicks:hover {background: url('https://imageshack.com/a/img922/7086/BjiV5f.gif') #FFF; display: inline-block;}
.startclicks {width: 950px; height: 50px; background-color: #660000; display: inline-block;}
.daysclick {width: 750px; height: 50px; background-color: #660000; display: inline-block;}
.daysclick:hover {background: url('https://imageshack.com/a/img922/7086/BjiV5f.gif') #660000; display: inline-block;}
.startclicks:hover {background: url('https://imageshack.com/a/img922/7086/BjiV5f.gif') #660000; display: inline-block;}
.elevatorbutton:hover {background: url('https://imageshack.com/a/img922/9172/kRy3Js.png'); display: inline-block;}
.mainbutton {background: url('https://imageshack.com/a/img922/4076/5V4kpb.png'); display: inline-block;}
.mainbutton:hover {background: url('https://imageshack.com/a/img924/8363/bGipro.gif'); display: inline-block;}
.daybutton {background: url('https://imageshack.com/a/img922/175/jYHWF0.png'); display: inline-block;}
.daybutton:hover {background: url('https://imageshack.com/a/img923/4994/y1mDOs.png'); display: inline-block;}
