.storytext {font-family: timesnewroman; font-size: 30px; color: #FFF;}
.clicks {width: 1050px; height: 50px; background-color: #FFF; display: block; margin-top: 50px; margin-bottom: 50px;}
.clicks:hover {background: url('https://imageshack.com/a/img922/7086/BjiV5f.gif') #FFF;}
.startclicks {width: 950px; height: 50px; background-color: #660000;}
.daysclick {width: 750px; height: 50px; background-color: #660000;}
.daysclick:hover {background: url('https://imageshack.com/a/img922/7086/BjiV5f.gif') #660000;}
.startclicks:hover {background: url('https://imageshack.com/a/img922/7086/BjiV5f.gif') #660000;}
.elevatorbutton:hover {background: url('https://imageshack.com/a/img922/9172/kRy3Js.png');}
.mainbutton {background: url('https://imageshack.com/a/img922/4076/5V4kpb.png');}
.mainbutton:hover {background: url('https://imageshack.com/a/img924/8363/bGipro.gif');}
.daybutton {background: url('https://imageshack.com/a/img922/175/jYHWF0.png');}
.daybutton:hover {background: url('https://imageshack.com/a/img923/4994/y1mDOs.png');}
